{% extends 'mainapp/base.html' %}

{% block content %}

<figure class="text-center">
    <h2>Личный кабинет пользователя: {{ user.first_name }}</h2>
</figure>

<div class="container text-center">
    <div class="row justify-content-between">

        <div class="col-4">
            <h3>Мои данные</h3>
            <div class="container text-center">
              <div class="row">
                <div class="col-6 col-sm-7">Имя</div>
                <div class="col-6 col-sm-3">{{ user.first_name }}</div>
              </div>
            </div>
            <div class="container text-center">
              <div class="row">
                <div class="col-6 col-sm-7">Фамилия</div>
                <div class="col-6 col-sm-3">{{ user.last_name }}</div>
              </div>
            </div>
        </div>

        <div class="col-4">
            <h3>Моя корзина</h3>
            {% for i in basket %}
            <div class="container text-center">
              <div class="row">
                <div class="col-6 col-sm-8">{{ i.title }}</div>
                <div class="col-6 col-sm-3">
                    <form method="post">
                      {% csrf_token %}
                      <button class="btn btn-primary" type="submit" name="basket" value="{{ i.title }}">Убрать</button>
                  </form>
                </div>
              </div>
            </div>
            <p></p>
            {% endfor %}
        </div>
  </div>
</div>
{% endblock %}