{% extends 'users/base.html' %}}

{% block content %}
<form method="post">
    {% csrf_token %}


<div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
    <div class="mb-3">
<p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    </div>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
<button type="submit" class="btn btn-success">Войти</button>
</form>
<p></p>
<div class="row justify-content-between">
    <div class="col-3">
      <a href="{% url 'register' %}" class="btn btn-primary" role="button" data-bs-toggle="button">Регистрация</a>
    </div>
</div>

{% endblock %}