{% extends 'users/base.html' %}}

{% block content %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p ><button type="submit" class="btn btn-success">Регистрация</button></p>
</form>
<p></p>
<div class="row justify-content-between">
    <div class="col-3">
      <a href="{% url 'login' %}" class="btn btn-primary" role="button" data-bs-toggle="button">Авторизация</a>
    </div>
</div>

{% endblock %}